@media (max-width:768px){
    .table-layout{
        grid-template-columns: 0.5fr 3fr 1fr 1fr;
    }
    .market-cap{
        display: none;
    }
}
@media (max-width:500px){
    .table-layout div img{
        width:25px
    }
    .table-layout{
        font-size: 13px;
    }
    .hero form input{
        width:100px
    }
}

