@media (max-width :900px) {
    .navbar {
        padding: 20px 8%;
    }
    .navbar button{
        gap:8px;
        padding:8px 18px;
        font-size:14px;
    }
}
@media (max-width :768px) {
    .navbar {
        padding: 20px 5%;
    }
    .navbar ul{
        display: none;
    }
}